<nav class="nav justify-content-center bg-black">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/contact">Contanct</a>
    <a class="nav-link" href="/about">About</a>
</nav>